@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "/node_modules/notie/dist/notie.min.css";

.share {
  font-weight: bold;
  position: relative;
}
.share:before {
  content: ".";
  font-size: 2.2em;
  position: absolute;
  bottom: -2.5px;
  left: -4px;
}
.share:after {
  content: ":";
  font-size: 2em;
  position: absolute;
  bottom: -6px;
  right: -7px;
}